In [1]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
# Ans.1.MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data,
#     and it provides full indexing support, and replication with rich and intuitive APIs.

#    2.A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 
#    Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

#    3.Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and 
#    transaction while RDBMS databases are expensive and it uses big servers and storage systems.

In [2]:
# Q2. State and Explain the features of MongoDB.

In [ ]:
# Ans.These are some important features of MongoDB:

#    1. Support ad hoc queries

#    In MongoDB, you can search by field, range query and it also supports regular expression searches.

#    2. Indexing

#    You can index any field in a document.

#    3. Replication

#    MongoDB supports Master Slave replication.

#    A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

#    4. Duplication of data

#    MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

#    5. Load balancing

#    It has an automatic load balancing configuration because of data placed in shards.

#    6. Supports map reduce and aggregation tools.

#    7. Uses JavaScript instead of Procedures.

#    8. It is a schema-less database written in C++.

#    9. Provides high performance.

#    10. Stores files of any size easily without complicating your stack.

#    11. Easy to administer in the case of failures.

#    12. It also supports:

#        JSON data model with dynamic schemas
#        Auto-sharding for horizontal scalability
#        Built in replication for high availability

In [3]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [7]:
# Ans.
import pymongo


client = pymongo.MongoClient("mongodb+srv://gahtoriashish760:ash12345@cluster0.lonpn30.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 26.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 33.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
db

Database(MongoClient(host=['ac-bpn5i8x-shard-00-00.lonpn30.mongodb.net:27017', 'ac-bpn5i8x-shard-00-01.lonpn30.mongodb.net:27017', 'ac-bpn5i8x-shard-00-02.lonpn30.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-wc2l22-shard-0', tls=True), 'test')

In [9]:
client = pymongo.MongoClient("mongodb+srv://gahtoriashish760:ash12345@cluster0.lonpn30.mongodb.net/?retryWrites=true&w=majority")

In [10]:
db = client['documents']

In [11]:
coll_documents = db["store"]

In [12]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#     and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
data = {"name" : "ash",
        "class" : "data science",
        "time" : "flexi"}

In [14]:
coll_documents.insert_one(data)

In [15]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [17]:
coll_documents.insert_many(data2)

In [18]:
coll_documents.find_one()

{'_id': ObjectId('63f9f66e142e4b8fb913f4d7'),
 'name': 'ash',
 'class': 'data science',
 'time': 'flexi'}

In [24]:
for i in coll_documents.find():
    print(i)

{'_id': ObjectId('63f9f66e142e4b8fb913f4d7'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f701142e4b8fb913f4d8'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f7c0142e4b8fb913f4da'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f838142e4b8fb913f4db'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63ff4615af28672b8439f70f'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63ff4676af28672b8439f710'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63ff4676af28672b8439f711'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63ff4676af28672b8439f712'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63ff4676af28672b8439f713'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63ff4676af28672b8439f714'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63ff4676af28672b8439f715'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63ff4676af28672b8439f716'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63ff4676af28672b8439f717'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63ff4676af28672b8439f718'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63ff4676af28672b8439f719'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63ff4676af28672b8439f71a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63ff4676af28672b8439f71b'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [23]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [28]:
# Ans.the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data.
#     The find() method consists of two parameters by which we can find a particular record.

for i in coll_documents.find({'name': 'Richard'}):
    print(i)

{'_id': ObjectId('63ff4676af28672b8439f715'), 'name': 'Richard', 'address': 'Sky st 331'}

In [29]:
for i in coll_documents.find():
    print(i)

{'_id': ObjectId('63f9f66e142e4b8fb913f4d7'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f701142e4b8fb913f4d8'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f7c0142e4b8fb913f4da'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f838142e4b8fb913f4db'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63ff4615af28672b8439f70f'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63ff4676af28672b8439f710'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63ff4676af28672b8439f711'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63ff4676af28672b8439f712'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63ff4676af28672b8439f713'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63ff4676af28672b8439f714'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63ff4676af28672b8439f715'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63ff4676af28672b8439f716'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63ff4676af28672b8439f717'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63ff4676af28672b8439f718'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63ff4676af28672b8439f719'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63ff4676af28672b8439f71a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63ff4676af28672b8439f71b'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [75]:
# Ans.The sort() method specifies the order in which the query returns the matching documents from the given collection. 
#     You must apply this method to the cursor before retrieving any documents from the database.

for i in coll_documents.find().sort('name'):
    print(i)

{'_id': ObjectId('63ff4676af28672b8439f710'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63ff4676af28672b8439f718'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63ff4676af28672b8439f714'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63ff4676af28672b8439f71a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63ff4676af28672b8439f711'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63ff4676af28672b8439f712'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63ff4676af28672b8439f715'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63ff4676af28672b8439f713'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63ff4676af28672b8439f716'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63ff4676af28672b8439f717'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63ff4676af28672b8439f71b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63ff4676af28672b8439f719'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f9f66e142e4b8fb913f4d7'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f7c0142e4b8fb913f4da'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63ff4615af28672b8439f70f'), 'name': 'ash', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f701142e4b8fb913f4d8'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('63f9f838142e4b8fb913f4db'), 'name': 'gah', 'class': 'data science', 'time': 'flexi'}

In [47]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
# Ans. 1.In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. 
#        If there are multiple documents matching the filter query, only the first appeared document would be deleted.

#      2.Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

#      3.The drop() method removes the specified row or column.
#        By specifying the column axis (axis='columns'), the drop() method removes the specified column.
#        By specifying the row axis (axis='index'), the drop() method removes the specified row.